Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
.plastic/
.codex/
codex/
.agents/

*.csproj
*.unityproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

.DS_Store
.vscode/
.vsconfig
ignore.conf

#Docs
*.txt
*.md